@import "~codemirror/lib/codemirror.css";

$font-family-mono: "Liberation Mono", Consolas, Menlo, Courier, monospace !global;

.quicktype-playground {
  width: 100%;
}

.executable-fragment-wrapper {
  margin-bottom: 20px;
  position: relative;
}

.executable-fragment {
  border: 1px solid #eee;
}

.CodeMirror {
  height: auto;

  pre {
    font-size: 12px !important;
    line-height: 16.8px !important;
    margin-bottom: 0 !important;
  }
}

.CodeMirror-lines {
  padding: 0;
  margin: 12px 0;
  background: white;
}

.CodeMirror-scroll {
  height: auto;
}

.CodeMirror-gutter {
  height: auto;
}

.CodeMirror {
  line-height: 1.4;
  font-family: menlo, consolas, monospace;
  font-size: 12px;
}

.CodeMirror-linenumber {
  min-width: 0;
  text-align: center;
}

.command-panel {
  background-color: #f7f7f7;
  padding: 5px 30px;
}

.CodeMirror-linebackground.unmodifiable-line {
  background-color: #f7f7f7;
}

.output-wrapper {
  border-top: 1px solid #eee;
  min-height: 50px;
}

.CodeMirror-foldgutter {
  position: absolute;
  width: 100%;
}

.CodeMirror-foldgutter-folded {
  width: 100%;
  background: white;
}

.code-area {
  position: relative;
}

.compiler-info {
  text-align: right;
  font-size: 11px;
  color: #444;

  span {
    margin-left: 15px;
  }

  .languages {
    a {
      margin: 0 4px;
      color: inherit;
      &.active,
      &:hover {
        color: #00b3a4;
        text-decoration: none;
      }
    }
  }

  span:last-child a {
    color: #00b3a4;
  }
}
